APP_NAME=blog-backend
APP_HOST=127.0.0.1
APP_PORT=3000
APP_ROUTE_PREFIX=/api
APP_SCHEMA=http

TYPEORM_MIGRATIONS=src/database/migrations/**/*.ts
TYPEORM_MIGRATIONS_DIR=src/database/migrations
TYPEORM_ENTITIES=src/api/models/**/*.ts
TYPEORM_ENTITIES_DIR=src/api/models
CONTROLLERS=src/api/controllers/**/*Controller.ts
MIDDLEWARES=src/api/middlewares/**/*Middleware.ts
INTERCEPTORS=src/api/interceptors/**/*Interceptor.ts
SUBSCRIBERS=src/api/subscribers/**/*Subscriber.ts
RESOLVERS=src/api/resolvers/**/*Resolver.ts



TYPEORM_ALLOW_EMPTY_PASSWORD=
TYPEORM_CONNECTION=mysql
TYPEORM_HOST=blog-backend-
TYPEORM_PORT=3306
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_ROOT_PASSWORD=
TYPEORM_DATABASE=
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=error
TYPEORM_LOGGER=advanced-console